.bg-dark{
    background-color: rgb(56, 56, 56);
}
.color-red{
    color: white;
}
.custom-image{
    border-radius: 20px;
    padding: 10px;
    width: calc(100% - 20px);
}

.custom-buttons button {
    color: white;
    border-color: white;
}
.custom-buttons div {
    color: red;
    border-color: aqua;
}

.shopping-cart {
    position: fixed;
    right: 0px;
    top: 10px;
}